/* Semibold weight; Normal style */
@font-face {
	font-family: 'National Park';
    font-weight: 600;
    font-style: normal;
    src: url('https://files.cargocollective.com/c1415345/NationalPark-SemiBold.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  background: #00000000;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 100%;
  width: 100%;
  margin: 0 auto;
  font: 300 30px/1 'National Park', monospace;
  text-align: center;
  color: #000000;
  animation: 150s credits linear 1;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.fade-in {
  position: absolute;
  top: 100%;
  width: 100%;
  margin: 0 auto;
  font: 300 30px/1 'National Park', monospace;
  text-align: center;
  color: #000000;
  animation: 3s fadeIn linear 1;
  animation-delay: 101s;
}

.name {
  margin-bottom: 20px;
  font-size: 30px;
}

.bigtitle {
  color:#000000;
  margin-bottom: 20px;
  font-size: 70px;
  font-weight: bold;
}

.title {
    color:#000000;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
}

.subtitle {
    color:#000000;
    margin-bottom: 20px;
    font-size: 40px;
}

@keyframes credits {
    0% { top:  100%; }
  100% { top: -500%; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
